<form autocomplete='off' class='form' name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div class='control'>
    <h1>Sign In</h1>
  </div>
  <div class='control block-cube block-input'>
    <input [(ngModel)]="username" name='username' placeholder='Username' type='text'  #name="ngModel" required>
    <div class='bg-top'><div class='bg-inner'></div></div>
    <div class='bg-right'><div class='bg-inner'></div></div>
    <div class='bg'><div class='bg-inner'></div></div>
  </div>
  <div class='control block-cube block-input'>
    <input [(ngModel)]="password" name='password' placeholder='Password' type='password' #pwd="ngModel" required>
    <div class='bg-top'><div class='bg-inner'></div></div>
    <div class='bg-right'><div class='bg-inner'></div></div>
    <div class='bg'><div class='bg-inner'></div></div>
  </div>
  <button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'><div class='bg-inner'></div></div>
    <div class='bg-right'><div class='bg-inner'></div></div>
    <div class='bg'><div class='bg-inner'></div></div>
    <div class='text'>Login</div>
  </button>
  <div *ngIf="error" class="alert alert-danger"><h1>{{error}}</h1></div>
</form>